<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Endereços</title>
</head>
<body>
    {% if message %}
        <p style="color: red;">{{ message }}</p>
    {% endif %}      
    
    {% if address %}
    <h1> Endereços </h1>
        <table>
            <tr>
                <th>CEP</th>
                <th>Cidade</th>
                <th>UF</th>
                <th>Opções</th>
            <tr>
            {% for address in address %}
                <tr>
                    <td>{{ address.cep }}</td>
                    <td>{{ address.city }}</td>
                    <td>{{ address.uf }}</td>
                    <td><a href="{%url 'usuarios:detail' pk=address.id%}">Detalhes</a></td>
                    <td><a href="{%url 'usuarios:update' pk=address.id%}">Editar</a></td>
                    <td><a href="{%url 'usuarios:delete' pk=address.id %}">Excluir</a></td>
                </tr>
            {% endfor %}    
        </table>      
    {% else %}   
        <h1>Nenhum endereço cadastrado</h1>
        <button><a href="{% url 'usuarios:cep_search' %}">Buscar CEP</a></button>
        <button><a href="{% url 'usuarios:create' %}">Cadastrar Endereço</a></button>
        <button><a href="{% url 'usuarios:index' %}">Voltar</a></button>
    {% endif %}    

</body>
</html>