<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detalhes</h1>
    <p>CEP: {{ address.cep }}</p>
    <p>Logradouro: {{ address.logradouro }}</p>
    <p>Bairro: {{ address.bairro }}</p>
    <p>localidade: {{ address.localidade }}</p>
    <p>UF: {{ address.uf }}</p>

    <a href="{% url 'usuarios:update'   address.id %}">Editar</a>
    <a href="{% url 'usuarios:delete' address.id %}">Excluir</a>
    <a href="{% url 'usuarios:list' %}">Voltar</a>

</body>
</html>